<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Portfolio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
</head>
<body>
    <style src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></style>
    <style src="~/js/site.js"></style>


    <header>
        <div class="user">
            <img src="~/images/icon.png" alt="Profile Image" />
            <h3 class="name">Egzon Bllaca</h3>
            <p class="post">Software Developer</p>
        </div>

        <nav class="navbar ">
            <ul>
                <li> <a id="nav-link" href="#home">Home</a></li>
                <li> <a id="nav-link" href="#about">About</a> </li>
                <li> <a id="nav-link" href="#education">Education</a> </li>
                <li> <a id="nav-link" href="#portfolio">Portfolio</a> </li>
                <li> <a id="nav-link" href="#contact">Contact</a> </li>

            </ul>
        </nav>
    </header>
    <div id="menu" class="fas fa-bars"></div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
